<div class="jumbotron center">
	<h1>Welcome to my app!</h1>
	<p>Click here to <%= link_to "Sign up", "#", class: "btn btn-info btn-sm" %> or <%= link_to "Log in", "#", class: "btn btn-primary btn-sm" %></p>
</div>